@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

body {
  background-color: #dcf93c;
  font-family: 'Inconsolata', monospace;
}
fieldset {
  border: none;
  margin: 1rem 0;
}

header {
  display: flex;
  align-items: center;
}

header img {
  height: 64px;
  margin-right: 1em;
}

main {
  display: flex;
  justify-content: space-between;
}

aside {
  margin-left: 2em;
}

footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
}

.users {
  background-color:aliceblue;
  padding: 10px;
}
.events {
  background-color: #f4b4cd;
  padding: 10px;
  border-radius: 6px;
}

